/*html  { 
  background: url(/static/img/track.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.track-img {
    background: url(/static/img/track.jpg) no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
    width: 100%;
}