{% extends 'base.html' %}
{% block title %}Run App Home{% endblock %}

{% block body %}
  <h1>Welcome!</h1>

  <h2>Login</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <h2>Sign Up</h2>
    <form action="/register" method="POST">
      <button>Create Account</button>
    </form>
  {#   <div class="register">
      <button action="/register" id="register">Create Account</button>
    </div> #}

{% endblock %}
