{% extends 'base.html' %}
{% block title %}Run App Home{% endblock %}

{% block body %}
  <h1>Welcome!</h1>

  <h2>Login</h2>

  <form action="/login" method="POST">
    <p class="text-primary">
      Email <input type="text" name="email" required>
    </p>

    <p class="text-primary">
      Password <input type="password" name="password" required>
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <h2>Connect your Strava account</h2>
    <section id="connect-strava">
      <p>
        <a class="btn btn-md" href="{{ authorize_url }}" role="button"><img src="/static/img/ConnectWithStrava.png" border="0" width="262" height="43" />
        </a>
      </p>
  </section>

{% endblock %}
