{% extends 'base.html' %}
{% block title %}Run App Home{% endblock %}

{% block body %}
  <section id="user-registration">
    <h2>New User Sign-Up</h2>
    <br>
    <h4>Create Account:</h4>
    <form id="user-reg-form" action="/create-user" method="POST">
        Email
        <p>
          <input id="email-field" type="email" name="email" required>
        </p>
        Password
        <p> 
          <input id="password-field" type="password" name="password" required>
        </p>
        Re-Enter Password
        <p>
          <input id="password-confirm-field" type="password" name="password-confirm" required>
        </p>
        Phone Number
        <p>
          <input id="phone-field" type="phone" name="phone" placeholder="Format: 123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
        </p>
        Timezone
        <p>
          <select name="timezone">
            <option value="US/Hawaii">Hawaiian</option>
            <option value="US/Alaska">Alaskan</option>
            <option value="US/Pacific">Pacific</option>
            <option value="US/Mountain">Mountain</option>
            <option value="US/Central">Central</option>
            <option value="US/Eastern">Eastern</option>
          </select>
        </p>
        <input id="strava-token" type="hidden" name="token" value="{{ token }}">
        <p>
          <input type="submit">
        </p>
    </form>
  </section>

  <script src="/static/js/register.js"></script>

{% endblock %}
