{% extends 'base.html' %}
{% block title %}Run App Home{% endblock %}

{% block body %}
  <section id="user-registration">
    <h2>New User Sign-Up</h2>
    <form id="user-registration-form" action="/create-user" method="POST">
        Email
        <p>
          <input id="email-field" type="email" name="email" required>
        </p>
        Password
        <p> 
          <input id="password-field" type="password" name="password" required>
        </p>
        Re-Enter Password
        <p>
          <input id="password-confirm-field" type="password" name="password-confirm" required>
        </p>
        Phone Number
        <p>
          <input id="phone-field" type="phone" name="phone" placeholder="Format: 123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
        </p>
        <input id="strava-token" type="hidden" name="token" value="{{ token }}">
        <p>
          <input type="submit">
        </p>
    </form>
  </section>

  <script src="/static/js/ajax.js"></script>

{% endblock %}
