{% extends 'base.html' %}

{% block body %}

      <div class="container-fluid">
      <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <form class="px-4 py-3 user-reg-form" form action="/create-user" method="POST">
        <div class="form-group">
          <label for="reg-email-field">Email</label>
          <input type="email" class="form-control" id="reg-email-field" required>
          {% with errors = get_flashed_messages(category_filter=["email-error"]) %}
          {% if errors %}
          <div class="alert-message block-message error">
              {% for msg in errors %}
              <div><b>{{ msg }}<b></div>
              {% endfor -%}
          </div>
          {% endif %}
          {% endwith %}
        </div>
        <div class="form-group">
          <label for="reg-password-field">Password</label>
          <input type="password" class="form-control" id="reg-password-field" name="email" required>
        </div>
        <div class="form-group">
          <label for="reg-password-confirm-field">Re-Enter Password</label>
          <input type="password" class="form-control" id="reg-password-confirm-field" name="password-confirm" required>
          {% with errors = get_flashed_messages(category_filter=["password-error"]) %}
          {% if errors %}
          <div class="alert-message block-message error">
              {% for msg in errors %}
              <div><b>{{ msg }}<b></div>
              {% endfor -%}
          </div>
          {% endif %}
          {% endwith %}
        </div>

      <div class="form-group">
        <label for="reg-phone-field">Phone</label>
        <input type="phone" class="form-control" id="reg-phone-field" type="phone" name="phone" placeholder="Format: 123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
      </div>
      <div>
        <input id="strava-token" type="hidden" name="token" value="{{ token }}">
      </div>
      <button type="submit" class="btn btn-primary">submit</button>
    </form>
    </div>
    <div class="col-4"></div>
    </div>
    </div>

  
  <!--<section id="user-registration">
    <h2>New User Sign-Up</h2>
    <br>
    <h4>Create Account:</h4>
    <form id="user-reg-form" action="/create-user" method="POST">
        Email
        <p>
          <input id="email-field" type="email" name="email" required>
        </p>
        Password
        <p> 
          <input id="password-field" type="password" name="password" required>
        </p>
        Re-Enter Password
        <p>
          <input id="password-confirm-field" type="password" name="password-confirm" required>
        </p>
        Phone Number
        <p>
          <input id="phone-field" type="phone" name="phone" placeholder="Format: 123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
        </p>
        <input id="strava-token" type="hidden" name="token" value="{{ token }}">
        <p>
          <input type="submit">
        </p>
    </form>
  </section>-->

  <script src="/static/js/register.js"></script>

{% endblock %}
