{% extends 'base.html' %}
{% block title %}Run App Home{% endblock %}

{% block body %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h3> Team Dashboard</h43>
<p></p>
<h4> {{ team.name }}</h4>
<p></p>

{# include actual dates  #}
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th id="athlete-name" scope="col" align="left">Athlete</th>
      <th id="workout" scope="col" align="left">Workout</th>
      <th id="monday" scope="col" align="center">Mon</th>
      <th id="tuesday" scope="col" align="center">Tue</th>
      <th id="wednesday" scope="col" align="center">Wed</th>
      <th id="thursday" scope="col" align="center">Thu</th>
      <th id="friday" scope="col" align="center">Fri</th>
      <th id="saturday" scope="col" align="center">Sat</th>
      <th id="sunday" scope="col" align="center">Sun</th>
      <th id="total" scope="col" align="center">Total</th>
    </tr>
  </thead>
  <tbody>

    {% for athlete in athletes %}
      <tr>
        <td scope="row" rowspan="2"><img src="{{ athlete.user.prof_pic }}" width="50px" class="rounded-circle" align="left"/></td>
        <th scope="row" rowspan="2" align="left">{{ athlete.user.firstname }} {{ athlete.user.lastname }}</th>
      {% for user in activities_dict %}
        {% if user == athlete.id %}
            <td id="workout-type" align="left">Run</td>
            <td align="center">{{ activities_dict[user]['monday']['Run']['distance'] }}</td>
            <td align="center">{{ activities_dict[user]['tuesday']['Run']['distance'] }}</td>
            <td align="center">{{ activities_dict[user]['wednesday']['Run']['distance'] }}</td>
            <td align="center">{{ activities_dict[user]['thursday']['Run']['distance'] }}</td>
            <td align="center">{{ activities_dict[user]['friday']['Run']['distance'] }}</td>
            <td align="center">{{ activities_dict[user]['saturday']['Run']['distance'] }}</td>
            <td align="center">{{ activities_dict[user]['sunday']['Run']['distance'] }}</td>
            <th align="center">{{ activities_dict[user]['total_mileage'] }} mi</th>
      </tr>
          {% if not "" == athlete.id %}
      <tr>
            <td id="workout-type" align="left">Cross Train</td>
            <td align="center">{{ activities_dict[user]['monday']['Cross Train']['workout_time'] }}</td>
            <td align="center">{{ activities_dict[user]['tuesday']['Cross Train']['workout_time'] }}</td>
            <td align="center">{{ activities_dict[user]['wednesday']['Cross Train']['workout_time'] }}</td>
            <td align="center">{{ activities_dict[user]['thursday']['Cross Train']['workout_time'] }}</td>
            <td align="center">{{ activities_dict[user]['friday']['Cross Train']['workout_time'] }}</td>
            <td align="center">{{ activities_dict[user]['saturday']['Cross Train']['workout_time'] }}</td>
            <td align="center">{{ activities_dict[user]['sunday']['Cross Train']['workout_time'] }}</td>
            <td></td>
      </tr>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </tbody>
</table>

{# <script src="/static/js/dashboard.js"></script> #}

{% endblock %}